{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<!-- Page Header Start -->
    <div class="page-header bg-section parallaxie">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Pos System Overhaul</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'products' %}">projects</a></li>
                                <li class="breadcrumb-item active" aria-current="page">IT Consulting Solutions</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Project Single Start -->
    <div class="page-project_single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Page Single Sidebar Start -->
                    <div class="page-single-sidebar">
                        <!-- Page Sidebar Category List Start -->
                        <div class="page-category-list project-category-list wow fadeInUp">
                            <h3>Project Information</h3>
                            <ul>
                                <li><span>Client: </span>Global Manufacturing Inc.</li>
                                <li><span>Start date: </span>2nd August 2025</li>
                                <li><span>Category: </span>POS System Overhaul</li>
                                <li><span>Estimation: </span>3 Month</li>
                                <li><span>Duration: </span>9 Month</li>
                                <li><span>Tags: </span>Analytics</li>
                                <li><span>Share:</span>
                                    <span>
                                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!-- Page Sidebar Category List End -->

                        <!-- Sidebar CTA Box Start -->
                        <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Sidebar CTA Image Start -->
                            <div class="sidebar-cta-img">
                                <figure class="image-anime">
                                    <img src="{% static 'images/sidebar-cta-image.jpg' %}" alt="">
                                </figure>
                            </div>
                            <!-- Sidebar CTA Image End -->

                            <div class="sidebar-cta-body">
                                <!-- Sidebar CTA Content Start -->
                                <div class="sidebar-cta-content">
                                    <h3>Contact information</h3>
                                    <p>Reach out to our team for fast support or any inquiries — we're just a call away.
                                    </p>
                                </div>
                                <!-- Sidebar CTA Content End -->

                                <!-- Sidebar CTA Contact Start -->
                                <div class="sidebar-cta-contact">
                                    <div class="icon-box">
                                        <img src="{% static 'images/sidebar-cta-logo.png' %}" alt="">
                                    </div>

                                    <div class="sidebar-contact-content">
                                        <ul>
                                            <li><img src="{% static 'images/icon-phone-white.svg' %}" alt=""> <a
                                                    href="tel:+123456789">+(123) 456 789</a></li>
                                            <li><img src="{% static 'images/icon-mail-white.svg' %}" alt=""> <a
                                                    href="mailto:info@domainname.com">info@domainname.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Sidebar CTA Contact End -->
                            </div>
                        </div>
                        <!-- Sidebar CTA Box End -->
                    </div>
                    <!-- Page Single Sidebar End -->
                </div>

                <div class="col-lg-8">
                    <!-- Project Single Content Start -->
                    <div class="project_single-content">
                        <!-- Page Single Image Start -->
                        <div class="page-single-image data-item-hover">
                            <figure class="data-img-hover" data-intensity="0.4" data-speedin="1.5" data-speedout="1.5">
                                <img src="{% static 'images/project-2.jpg' %}" alt="">
                            </figure>
                        </div>
                        <!-- Page Single Image End -->

                        <!-- Project Entry Start -->
                        <div class="project-entry">
                            <p class="wow fadeInUp">Our Remote IT Support services are designed to provide your business
                                with immediate, reliable, and expert technical assistance—no matter where your team is
                                located. We ensure uninterrupted operations by quickly addressing technical issues
                                through secure remote access, minimizing downtime and maximizing productivity.</p>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">From software troubleshooting and system
                                updates to performance optimization and device configuration, our support specialists
                                are available 24/7 to resolve problems efficiently. With robust security protocols and
                                real-time response, we empower your workforce to stay focused on what matters
                                most—without worrying about IT roadblocks.</p>

                            <!-- Project Transaction Box Start -->
                            <div class="project-transaction-box">
                                <!-- Project Transaction Body Start -->
                                <div class="project-transaction-body">
                                    <!-- Project Transaction Content Start -->
                                    <div class="project-transaction-content">
                                        <h2 class="text-anime-style-3">Your business transaction</h2>
                                        <p class="wow fadeInUp">We help businesses streamline and upgrade their
                                            point-of-sale systems with modern, efficient, and user-friendly technology.
                                            Our POS solutions are designed to improve customer experience, reduce
                                            transaction times, and give you better control over inventory, sales
                                            tracking, and reporting.Whether you're operating a retail store,
                                            restaurant,or service-based business.</p>

                                        <ul class="wow fadeInUp" data-wow-delay="0.2s">
                                            <li>Real-time sales analytics track performance and make data-driven
                                                decision.</li>
                                            <li>Seamless Inventory Sync update stock levels across all.</li>
                                        </ul>
                                    </div>
                                    <!-- Project Transaction Content End -->

                                    <!-- Project Entry Image Video Start -->
                                    <div class="project-entry-image-video intro-video wow fadeInUp"
                                        data-wow-delay="0.4s">
                                        <!-- Intro Image Start -->
                                        <div class="intro-video-image">
                                            <figure class="image-anime">
                                                <img src="{% static 'images/project-entry-image-video.jpg' %}" alt="">
                                            </figure>
                                        </div>
                                        <!-- Intro Image End -->

                                        <!-- Video Play Button Start -->
                                        <div class="video-play-button bg-effect">
                                            <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                                                data-cursor-text="Play">
                                                <i class="fa-solid fa-play"></i>
                                            </a>
                                        </div>
                                        <!-- Video Play Button End -->
                                    </div>
                                    <!-- Project Entry Image Video End -->
                                </div>
                                <!-- Project Transaction Body End -->

                                <!-- Transaction Item List Start -->
                                <div class="transaction-item-list wow fadeInUp" data-wow-delay="0.6s">
                                    <!-- Transaction Item Start -->
                                    <div class="transaction-item">
                                        <div class="icon-box">
                                            <img src="{% static 'images/icon-transaction-item-1.svg' %}" alt="">
                                        </div>
                                        <div class="transaction-item-title">
                                            <h3>Streamlined Checkout Process for Faster</h3>
                                        </div>
                                    </div>
                                    <!-- Transaction Item End -->

                                    <!-- Transaction Item Start -->
                                    <div class="transaction-item">
                                        <div class="icon-box">
                                            <img src="{% static 'images/icon-transaction-item-2.svg' %}" alt="">
                                        </div>
                                        <div class="transaction-item-title">
                                            <h3>Cross-Platform Compatibility for Wider</h3>
                                        </div>
                                    </div>
                                    <!-- Transaction Item End -->

                                    <!-- Transaction Item Start -->
                                    <div class="transaction-item">
                                        <div class="icon-box">
                                            <img src="{% static 'images/icon-transaction-item-3.svg' %}" alt="">
                                        </div>
                                        <div class="transaction-item-title">
                                            <h3>Scalable Infrastructure for Future Growth</h3>
                                        </div>
                                    </div>
                                    <!-- Transaction Item End -->
                                </div>
                                <!-- Transaction Item List End -->
                            </div>
                            <!-- Project Transaction Box End -->

                            <!-- Project Excellence Box Start -->
                            <div class="project-excellence-box">
                                <h2 class="text-anime-style-3">Unlocking IT potential for business excellence</h2>
                                <p class="wow fadeInUp">We provide proactive IT care that goes beyond fixing issues —
                                    our approach focuses on optimizing system performance, reducing downtime, and
                                    ensuring your technology works seamlessly.</p>

                                <!-- Project Excellence Body Start -->
                                <div class="project-excellence-body">
                                    <!-- Project Excellence Image Start -->
                                    <div class="project-excellence-image">
                                        <figure class="image-anime reveal">
                                            <img src="{% static 'images/project-excellence-image.jpg' %}" alt="">
                                        </figure>
                                    </div>
                                    <!-- Project Excellence Image End -->

                                    <!-- Project Excellence Item Start -->
                                    <div class="project-excellence-item wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="icon-box">
                                            <img src="{% static 'images/icon-project-excellence-item-1.svg' %}" alt="">
                                        </div>
                                        <div class="project-excellence-item-content">
                                            <h3>Project Challange</h3>
                                            <p>Streamline your business processes, reduce inefficiencies, and boost
                                                overall productivity through customized</p>
                                        </div>
                                    </div>
                                    <!-- Project Excellence Item End -->

                                    <!-- Project Excellence Item Start -->
                                    <div class="project-excellence-item wow fadeInUp" data-wow-delay="0.4s">
                                        <div class="icon-box">
                                            <img src="{% static 'images/icon-project-excellence-item-2.svg' %}" alt="">
                                        </div>
                                        <div class="project-excellence-item-content">
                                            <h3>Project Solution</h3>
                                            <p>Streamline your business processes, reduce inefficiencies, and boost
                                                overall productivity through customized</p>
                                        </div>
                                    </div>
                                    <!-- Project Excellence Item End -->
                                </div>
                                <!-- Project Excellence Body End -->

                                <p class="wow fadeInUp" data-wow-delay="0.6s">Our Remote IT Support services are
                                    designed to provide your business with immediate, reliable, and expert technical
                                    assistance—no matter where your team is located. We ensure uninterrupted operations
                                    by quickly addressing technical issues through secure remote access, minimizing
                                    downtime and maximizing productivity.</p>
                            </div>
                            <!-- Project Excellence Box End -->
                        </div>
                        <!-- Project Entry End -->

                        <!-- Page Single FAQs Start -->
                        <div class="page-single-faqs">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="text-anime-style-3" data-cursor="-opaque">Frequently asked question</h2>
                            </div>
                            <!-- Section Title End -->

                            <!-- FAQ Accordion Start -->
                            <div class="faq-accordion" id="accordion">
                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp">
                                    <h2 class="accordion-header" id="heading1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            Q1. How quickly can we get support when an issue arises?
                                        </button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse show"
                                        aria-labelledby="heading1" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>Our average response time is under 30 minutes, ensuring that your
                                                concerns are addressed swiftly. For critical issues, our team takes
                                                immediate action to provide fast resolution and reduce any potential
                                                downtime.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse2">
                                            Q2. Can you help us move our business to the cloud?
                                        </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                        data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>Our average response time is under 30 minutes, ensuring that your
                                                concerns are addressed swiftly. For critical issues, our team takes
                                                immediate action to provide fast resolution and reduce any potential
                                                downtime.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse3">
                                            Q3. How do you protect our data from cyber threats?
                                        </button>
                                    </h2>
                                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                        data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>Our average response time is under 30 minutes, ensuring that your
                                                concerns are addressed swiftly. For critical issues, our team takes
                                                immediate action to provide fast resolution and reduce any potential
                                                downtime.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">
                                            Q4. Can you customize your services for our business?
                                        </button>
                                    </h2>
                                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                        data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>Our average response time is under 30 minutes, ensuring that your
                                                concerns are addressed swiftly. For critical issues, our team takes
                                                immediate action to provide fast resolution and reduce any potential
                                                downtime.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->

                                <!-- FAQ Item Start -->
                                <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false"
                                            aria-controls="collapse5">
                                            Q5. Do you provide employee cybersecurity training?
                                        </button>
                                    </h2>
                                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                        data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <p>Our average response time is under 30 minutes, ensuring that your
                                                concerns are addressed swiftly. For critical issues, our team takes
                                                immediate action to provide fast resolution and reduce any potential
                                                downtime.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- FAQ Item End -->
                            </div>
                            <!-- FAQ Accordion End -->
                        </div>
                        <!-- Page Single FAQs End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Project Single End -->
{% endblock %}
