{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<!-- Page Header Start -->
    <div class="page-header bg-section parallaxie">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <!-- Page Header Box Start -->
                    <div class="page-header-box">
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Our video</h1>
                        <nav class="wow fadeInUp">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">our video</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Page Header Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Page Video Gallery Start -->
    <div class="page-video_gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image9.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="0.2s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image11.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="0.4s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image8.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="0.6s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image7.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="0.8s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image10.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="1s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image7.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="1.2s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image12.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="1.4s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image6.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Video Gallery start -->
                    <div class="video_gallery-image wow fadeInUp" data-wow-delay="1.6s">
                        <a href="https://www.youtube.com/watch?v=Y-x0efG1seA" class="popup-video"
                            data-cursor-text="Play">
                            <figure>
                                <img src="{% static 'images/new/image5.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Video Gallery end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Video Gallery End -->
{% endblock %}
